/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db; /* Blue */
    color: #fff; /* White */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background-color: #ecf0f1; /* Light Gray */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2 {
    color: #e74c3c; /* Red */
}

p {
    color: #333;
}

.course-card {
    background-color: #2ecc71; /* Green */
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}
